{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h2>Изменить запись</h2>
  {% else %}
    <h2>Добавить запись</h2>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>

  {% if object %}
    <form method="post" action="{% url 'type-delete' object.pk %}" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger mt-2">Удалить</button>
    </form>
  {% endif %}
{% endblock %}
